[user]
	email = guilherme.p.gonc@gmail.com
	name = Guilherme Goncalves
	signingkey = 57DBA6E9
[core]
	editor = /usr/bin/vim
[color]
	ui = true
[push]
	default = matching
[diff]
	tool = vimdiff
[bz]
  default-tracker = bugzilla.mozilla.org
  default-component = Core
  firefox-profile = default
  add-url = False
[diff]
  patience = true
[format-patch]
  patience = true
