[user]
	name = Guilherme Gonçalves
	email = guilherme.p.gonc@gmail.com
[core]
	editor = /usr/bin/vim
[color]
	ui = true
[push]
	default = matching
[diff]
	tool = vimdiff
[bz]
  default-tracker = bugzilla.mozilla.org
  default-component = Core
  firefox-profile = default
  add-url = False
